{% load static %}

<link rel="stylesheet" href="{% static 'noise_filter/css/bootstrap.min.css' %}" />
<link rel="stylesheet" href="{% static 'noise_filter/style.css' %}" />
<script src="{% static 'noise_filter/jquery.min.js' %}"></script>
<script src="{% static 'noise_filter/requests.js' %}"></script>

<html>
    <head>
        <title>Noise Filter Home Page</title>
    </head>

    <body>
        <div class="jumbotron text-center">
            <h1>Deep Learning Noise Filter</h1>
            <p>Proof of Concept of Fast Gradient Method</p>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-7"><img id="disp-image" class="center-block" src="normal/4709" /></div>
                <div id="control-panel" class="col-md-5">
                    <div id="image-prediction"></div>
                    <button type="button" class="btn btn-warning custom-button-width " onclick="getRandomImage()">Get Random Image</button>
                    <button type="button" class="btn btn-danger custom-button-width " onclick="addNoise()" >Add Noise</button>
                </div>
            </div>
        </div>
    </body>
</html>
