container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python adversarialnoise/manage.py migrate --noinput"
    leader_only: true
  02_createsu:
    command: "source /opt/python/run/venv/bin/activate && python adversarialnoise/manage.py createsu"
    leader_only: true
  03_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python adversarialnoise/manage.py collectstatic --noinput"

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "adversarialnoise.settings"
    "PYTHONPATH": "/opt/python/current/app/adversarialnoise:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: adversarialnoise/adversarialnoise/wsgi.py
    NumProcesses: 6
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "adversarialnoise/static/"
