.jumbotron {
    padding: 0.5em 0.6em;
    margin: 0px;
    h1 {
        font-size: 2em;
    }
    p {
        font-size: 1.2em;
        .btn {
            padding: 0.5em;
        }
    }
}

#btnSearch,
#btnClear{
    display: inline-block;
    vertical-align: top;
}

#image-prediction {
	min-height: 40px;
}

#control-panel {
	margin-top: 100px;
}